p {
  background-color: green;
  color: white;
  width: 100px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 3px 1px grey;
  outline: 1px solid lime;
}

div#man {
  margin:0;
  padding: 0;
  padding-left:5px;
  border-top: 5px solid red;
  border-left: 3px solid red;
  color: red;
  font-weight: bold;
  font-size: 17px;
  height:100px;
  width:50px;
}

div#man pre{
  margin:0;
  padding:0;
}

div#wordDisplay {
  font-family: monospace;
  font-size: 40px;
  letter-spacing: 5px;
}

div#keyboard div {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 3px;
  display: inline-block;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 3px 1px grey;
  outline: 1px solid lime;
}